nav {
	background-color: #ffb6c1;
	padding: 10px;
	position: sticky;
	top: 10px;
	font-weight: bolder;
}

#navbar {
	display: inline;
	font-family: "laila", sans-serif;
	font-size: 20px;
	color: black;
	text-align: center;
}

#viel2 {
	color: deeppink;
}

#aboutme {
	font-family: "noto sans", sans-serif;
	text-align: justify;
}

#gallery {
	background-color: #ffb6c1;
	font-family: "noto sans", sans-serif;
}

#bakedcreation {
	font-weight: bolder;
}


#toolsiuse {
	font-family: "noto sans", sans-serif;
	font-weight: bolder;
}

form .form-group {
	background-color: #ffb6c1;
}

footer {
	padding: 0.5rem;
	background-color: #c2195b;
	text-align: center;
	color: whitesmoke;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#backtotop {
	text-decoration: none;
}

a:hover {
	background-color: #b4d6de;
}