* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html body {
	max-width: 100%;
	overflow-x: hidden;
}

nav {
	background-color: #ffb6c1;
	font-weight: bold;
	list-style-type: none;
	top: 0;
}

nav .nav-item {
	display: inline;
	font-family: "laila", sans-serif;
	font-size: 20px;
	text-decoration: none;
	margin: auto;
}

ul a {
	color: black;
	text-decoration: none;
}

#nav-viel {
	font-weight: bolder;
	font-family: "Zeyada", cursive;
	font-size: 40px;
}


#viel2 {
	color: #e0115f;
	font-family: "Zeyada", cursive;
	font-weight: bolder;
	font-size: 60px;
}

#aboutme {
	font-family: "noto sans", sans-serif;
	text-align: justify;
}

#gallery {
	background-color: #ffb6c1;
	font-family: "noto sans", sans-serif;
}

#bakedcreation {
	font-weight: bolder;
}


#toolsiuse {
	font-family: "noto sans", sans-serif;
	font-weight: bolder;
}

form .form-group {
	background-color: #ffb6c1;
}

footer {
	padding: 0.5rem;
	background-color: #c2195b;
	text-align: center;
	color: whitesmoke;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#backtotop {
	text-decoration: none;
}

a:hover {
	background-color: #b4d6de;
}

html {
	scroll-behavior: smooth;
}